.container {
    border: 1px solid lightgray;
    border-radius: 5px;
    /* padding: 5px; */
    margin-top: 100px;
}
.heading {
    text-align: center;
   
    background-color: green;
    padding: 2px 0 2px 0;
    border-radius:   4px 0px 0px;
    color: white;

}

.registration_form {
    margin-top: 30px;  
}

.space {
    margin: 10px 0 10px 0;
    font-weight: bold;
}

.image_Captcha {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 100px;

}

.bg_captcha {
    background-color: green;
    width: 80px;
    text-align: center;
    border-radius: 3px;

}

.heading_captcha {
    font-weight: bold;
    padding: 0;
    margin-top: 20px;
}
.randomNumber {
    border-radius: 4px;
    background-color: green;
    padding:10px;
    text-align: center;
    width: 80px;
    margin-right: 20px;
    color: white;
} 

.captcha_Box {
    display: flex;  
    margin-bottom: 10px;
}

.input_captcha {
    width: 100px;
    height: 40px;
}




