<div>
  <img src="{{ bannerImage }}" alt="" class="banner" />
</div>
<div class="d-flex">
  <div class="parent">
    <div class="list-items" *ngFor="let items of listItems">
      <a href="" class="listAnchor active">
        {{ items }}
      </a>
    </div>
  </div>
  <div class="hello">
    <div class="container">
      <div class="row heading">
        <h3>Officer Login</h3>
      </div>
      <section>
        <form class="registration_form" [formGroup]="allInputControls">
          <div class="row">
            <div class="col-md-12" *ngFor="let control of responseData">
              <div [ngSwitch]="control.Component_Type" class="space">
                <div *ngSwitchCase="'email'">
                  {{ control.Component_Label }}
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                  />
                </div>

                <div *ngSwitchCase="'password'">
                  {{ control.Component_Label }}
                  <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                  />
                </div>
              </div>
            </div>
          </div>

          <div>
            <a href="#">Forget Password</a>
          </div>

          <p class="heading_captcha">Captcha</p>
          <div class="captcha_Box">
            <div class="randomNumber">
              {{ captchaValueOne }} + {{ captchaValueTwo }}
            </div>
            <div>
              <input
                type="text"
                placeholder="solution"
                class="input_captcha"
                formControlName="inputCaptcha"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Enter Captcha Value"
              />
              <img
                src="../../assets/images/captcha.png"
                class="image_Captcha"
                (click)="captcha_click()"
              />
            </div>

            <button
              type="submit"
              class="submitBtn btn-lg"
              (click)="submitHandler(allInputControls)"
            >
              Submit
            </button>
          </div>
          <br />
          <div>
            <a routerLink="/registrationForm">Registration</a>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
