<div class="container">
    <div class="ame_experience_header">
        <p>Toal Experience</p>
        
    </div>

    <div class="table">
        <table>
            <tr>
              <th>AME Institute</th>
              <th>From</th>
              <th>To</th>
              <th>Type of System</th>
              <th>Type of Aircraft</th>
              <th>Type of Engine</th>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>Germany</td>
              <td>Germany</td>
              <td>Germany</td>
            </tr>
            <tr>
              <td>Centro comercial Moctezuma</td>
              <td>Francisco Chang</td>
              <td>Mexico</td>
              <td>Mexico</td>
              <td>Mexico</td>
              <td>Mexico</td>
            </tr>
          </table>

    </div>

</div>
