<div class="container">
    <div class="ame_experience_header">
        <p>Toal Experience</p>
        
    </div>

    <div class="table">
        <table>
          <thead>
            <tr  class="" >
              <th *ngFor= "let key of tableKey">{{key}}</th>
            </tr>
          </thead>
            
            <tr *ngFor = "let userData of tabValue">
              <td  *ngFor = "let val of userData">{{val}}</td>
            </tr>
            <tr>
             
          </table>

    </div>

</div>
