<div class="container">
  <form class="loginForm" [formGroup]="loginForm">
    <div *ngFor="let control of apiCall.Groups">
      
   <div *ngFor="let items of control.Component">
     
      {{items.Component_Label}}
      <div *ngIf="['title']">
        
          <input type="text">
          
          <!-- <input type="select" formControlName="Component_Type" /> -->
        </div>
      </div>
    </div>
  
    
    

    <!-- <div formArrayName="Group_newRegistration">
      <div
        *ngFor="
          let group of newCandidateRegistrationArray.controls;
          let i = index
        "
        [formGroupName]="i"
      >
        <div formControlName="Component_Label">
          <label>Title</label>
        </div>
        <select name="cars" id="cars" formControlName="Component_Type">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </div>
    </div> -->
  </form>
</div>
